.vs/
*.o
*.swp
~*
*~
.idea/
cmake-build-debug/
cmake-build-debugandtest/
cmake-build-release/
*.stackdump
*.coredump
compile_commands.json
/build*
.clangd
.cache

.DS_Store
.AppleDouble
.LSOverride

CMakeLists.txt.user*
CMakeCache.txt
